<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>HASHINY INTERNATIONAL MATRIC SCHOOL</title>
    <link href='https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.form.js")
    @Scripts.Render("~/Scripts/jquery.blockUI.js")
    @Scripts.Render("~/Scripts/jsrender.min.js")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/application")

    <script src="~/Scripts/Application/AdminView.js"></script>
    <script src="~/Scripts/Application/ApplicationForm.js"></script>
    <script src="~/Scripts/Application/ApplicationSearch.js"></script>
    <script src="~/Scripts/Application/Home.js"></script>

    <script type="text/javascript">
        var applicationRootUrl = "@(Url.Content("~/"))";
        $(document).ready(function () {
            //disabled the field
            $(".disableField").disabled();
            //Text Box Edit Animation
            $('.custom-text input[type="text"], .custom-text input[type="password"]').editAnimate();
            // Left menu expand collapse
            //$('.btn-expand-collapse').html('<i class="fa fa-angle-left></i>');
            $('.btn-expand-collapse').click(function () {
                $(this).find('i').toggleClass('fa-angle-left fa-angle-right');
                $('.left-panel').toggleClass('left-panel-expand');
            });
        });
    </script>
</head>
<body>
    <div class="ribbonErrorMessage" id="ribbonErrorMessage" style="display:none"></div>
    <div class="container-fluid content-wrapper clearfix">
        <div class="navbar set-radius-zero">
            <div class="navbar-header col-md-6">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="~/Content/Images/app_name.png" />
                </a>
            </div>
            <div class="col-md-6">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <section class="menu-section">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    @Html.Partial("_MenuView")
                </div>
            </div>
        </section>
        <div class="body-wrapper">
            @RenderBody()
        </div>
    </div>
    <footer>
        <p>&copy; Hashiny International School @DateTime.Now.Year</p>
    </footer>
    <!-- Onvia progress bar -->
    <div id="ajaxProgressLoader" style="display: none;">
        <div class="loadingProgress">
            @*<img src="@(Url.Content("~/Content/Images/loading_2.gif"))" alt="processing.." class="loadingImage" />*@
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span id="additionalLoadingMessage"></span><span id="loadingMessage">Loading...</span>
        </div>
    </div>
    <!-- Onvia dialog -->
    <div id="OnviaAdminDialog">
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
