@model HSchool.Business.Models.Classes
<h2 id="headAdminEditText">Edit Class </h2>
<div class="form-container">
    @using (Html.BeginForm("EditClass", "Admin", FormMethod.Post, new { @id = "formClassEdit" }))
    {
        <div class="row custom-row clearfix">
            <div class="col-md-6 custom-text">
                @Html.TextBoxFor(m => m.ClassName, new { @class = "clsTextBox", @id = "" })
                @Html.HiddenFor(m => m.ClassId, new { @class = "clsTextBox", @id = "" })
                @Html.LabelFor(m => m.ClassName)
                <i class="fa fa-exclamation-circle" style="display:none"></i>
                <i class="fa fa-check-circle"></i>
                <em class="error-msg">Error Message</em>
            </div>
            <div class="col-md-6 custom-text">
                @Html.TextBoxFor(m => m.NameInDigit, new { @class = "clsTextBox", @id = "" })
                @Html.LabelFor(m => m.NameInDigit)
                <i class="fa fa-exclamation-circle" style="display:none"></i>
                <i class="fa fa-check-circle"></i>
                <em class="error-msg">Error Message</em>
            </div>
        </div>
        <div class="row visiblecheck clearfix">            
                @Html.CheckBoxFor(m => m.IsVisibleToApplication, new { @class = "", @id = "" })
                @Html.LabelFor(m => m.IsVisibleToApplication, new { @class = "" })       
        </div>

      

    <div class="btn-wrapper clearfix">
        <div class="pull-left">
            <input type="submit" value="Save" class="btn-blue" />
        </div>
    </div>
    }
</div>