@model HSchool.Business.Models.RolePrivilegeForm

    <h1>Roles & Privilege</h1>


    <div class="custom-text">
        @Html.TextBox("txtModuleName", string.Empty, new { @class = "clsTextBox", @id = "txtModuleName", @onclick = "adminView.rolesPrivileges.roleBoxFocus()" })
        @Html.Hidden("hdnModuleId", new { @id = "hdnModuleId" })
        <div class="divModulesContainer" style="display:none;position:absolute">
            @if (Model != null && Model.Modules.Count > 0)
            {
                <ul>
                    @foreach (var item in Model.Modules)
                    {
                        <li moduleid="@item.ModuleId" class="clsAppModuleItem">@(item.ModuleName)</li>
                    }
                </ul>
            }
        </div>
        @Html.Label("lblModuleName", "Module Name")
        <i class="fa fa-exclamation-circle" style="display:none"></i>
        <i class="fa fa-check-circle"></i>
        <em class="error-msg">Error Message</em>
    </div>

<div class="row">
    <div id="divRolesPrivilegesContainer">

    </div>
</div>

<script id="tempRolesPrivilege" type="text/x-jsrender">
    <table class="table table-striped table-hover">
        <thead class="thead-default">
            <tr>
                <th>Roles</th>
                {{for Instance.Privileges}}
                <th>{{:PrivilegeName}}</th>
                {{/for}}
            </tr>
        </thead>
        <tbody>
            {{for Instance.Roles}}
            <tr class="trRolesActive">
                <td>{{:RoleName}} <input type="hidden" class="hdnRoleId" value="{{:RoleId}}" /> </td>
                {{for Privileges}}
                {{if IsChecked}}
                <td class="clsEmpty"><input type="checkbox" privilegeid="{{:PrivilegeId}}" checked="checked" class="chkRoleEnabled" /></td>
                {{else}}
                <td class="clsEmpty"><input type="checkbox" privilegeid="{{:PrivilegeId}}" class="chkRoleEnabled" /></td>
                {{/if}}
                {{/for}}
            </tr>
            {{/for}}
        </tbody>
    </table>
    <input type="button" value="Submit" id="btnRolePrivilege" onclick="adminView.rolesPrivileges.saveRolePrivileges()" class="btn-blue" />
</script>