@model HSchool.Business.Models.ApplicationFormSearch
<div class="container">
    <div class="col-md-12 body-padding">
        <div class="form-group-expand-div admin-form clearfix">
            <h2>Search Applications</h2>
            <div class="form-container">
                <div class="row custom-row clearfix">
                    <div class="col-md-6 custom-text">
                        <label for="">Application Id</label>
                        @Html.TextBoxFor(m => m.ApplicationId, new { @id = "txtApplicationId" })
                        <i class="fa validationResult"></i>
                    </div>

                    <div class="col-md-6 custom-text">
                        <label for="">Applied Date</label>
                        @Html.TextBoxFor(m => m.AppliedDate, new { @id = "txtAppliedDate", @class = "datepicker" })
                        <i class="fa validationResult"></i>
                    </div>

                </div>
                <div class="row custom-row clearfix">
                    <div class="col-md-6 custom-text">
                        @Html.DropDownListFor(m => m.ApplicationStatus, Model.ListApplicationStatus, new { @id = "ddlApplicationStatus", @class = "selectpicker show-tick required" })
                        <i class="fa validationResult"></i>
                    </div>
                    <div class="col-md-6 custom-text">
                        @Html.DropDownListFor(m => m.ClassId, Model.ListClasses, new { @id = "ddlClass", @class = "selectpicker show-tick required" })
                        <i class="fa validationResult"></i>
                    </div>
                </div>

                <div class="row custom-row clearfix">
                    <div class="col-md-6 custom-text">
                        <label for="">First Name</label>
                        @Html.TextBoxFor(m => m.FirstName, new { @id = "txtFirstName", @class = "" })
                        <i class="fa validationResult"></i>
                    </div>
                    <div class="col-md-6 custom-text">
                        <label for="">Last Name</label>
                        @Html.TextBoxFor(m => m.LastName, new { @id = "txtFirstName", @class = "" })
                        <i class="fa validationResult"></i>
                    </div>
                </div>

                <div class="btn-wrapper">
                    <div class="pull-right">
                        <input type="button" value="Search" class="btn btn-blue" onclick="applicationSearch.searchApplication()" />
                    </div>
                </div>
            </div>
        </div>

        <div id="divSearchResult">

        </div>
    </div>
</div>
<script type="text/x-jsrender" id="gridViewTemplate">
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    {{for Columns}}
                    <th class="">{{:ColumnName}}</th>
                    {{/for}}
                </tr>
            </thead>

            {{for Rows}}
            <tr>
                {{for Cells}}
                <td class="">
                    {{:Value}}
                </td>
                {{/for}}
            </tr>
            {{/for}}
        </table>
    </div>
    <div class="pager">

    </div>
</script>
