@model HSchool.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="login-wrapper clearfix">

    <h2>@ViewBag.Title. - a new account.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="row custom-row">
            <div class="col-md-12 custom-text">
                <label for="">Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "" })
                <i class="fa fa-envelope"></i>
            </div>
        </div>


        <div class="row custom-row">
            <div class="col-md-12 custom-text">
                <label for="">Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "" })
                <i class="fa fa-lock"></i>
            </div>
        </div>


        <div class="row custom-row">
            <div class="col-md-12 custom-text">
                <label for="">Confirm Password</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "" })
                <i class="fa fa-lock"></i>
            </div>
        </div>
        
        <div class="btn-wrapper clearfix">
            <div class="pull-right">
                <input type="submit" class="btn btn-blue" value="Register" />
            </div>
        </div>

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
