@model HSchool.Business.Models.UserSearch
<div class="container">
    <div class="col-md-12 body-padding">
        <div class="form-group-expand-div admin-form clearfix">
            <h2>Search Users</h2>
            <div class="form-container">
                <div class="row custom-row clearfix">
                    <div class="col-md-4 custom-text">
                        <label for="">User Id</label>
                        @Html.TextBoxFor(m => m.UserId, new { @id = "txtRollNumber" })
                        <i class="fa validationResult"></i>
                    </div>

                    <div class="col-md-4 custom-text">
                        <label for="">First Name</label>
                        @Html.TextBoxFor(m => m.FirstName, new { @id = "txtFirstName", @class = "" })
                    </div>
                    <div class="col-md-4 custom-text">
                        <label for="">Last Name</label>
                        @Html.TextBoxFor(m => m.LastName, new { @id = "txtLastName", @class = "" })
                        <i class="fa validationResult"></i>
                    </div>
                </div>
                <div class="row custom-row clearfix">
                    <div class="col-md-6 custom-text">
                        @Html.DropDownListFor(m => m.ApplicationRole, Model.ListRoles, new { @id = "ddlClass", @class = "selectpicker show-tick required" })
                        <i class="fa validationResult"></i>
                    </div>
                    <div class="col-md-6 custom-text">
                        @Html.DropDownListFor(m => m.Gender, Model.ListGender, new { @id = "ddlGender", @class = "selectpicker show-tick required" })
                        <i class="fa validationResult"></i>
                    </div>
                </div>

                <div class="btn-wrapper">
                    <div class="pull-right">
                        <input type="button" value="Search" class="btn btn-blue" onclick="studentAdmin.searchStudents()" />
                    </div>
                </div>
            </div>
        </div>

        <div id="divSearchResult">

        </div>
    </div>
</div>
@Html.Partial("_GridView")




