<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>HASHINY INTERNATIONAL MATRIC SCHOOL</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Custom/Entity.js")
    @Scripts.Render("~/Scripts/jquery.form.js")
    @Scripts.Render("~/Scripts/Custom/Common.js")
    @Scripts.Render("~/Scripts/jquery.blockUI.js")
    @Scripts.Render("~/Scripts/jsrender.min.js")
    <script src="~/Scripts/Custom/Validation.js"></script>
    <script src="~/Scripts/Application/AdminView.js"></script>
    <script src="~/Scripts/Application/ApplicationForm.js"></script>
    <script src="~/Scripts/Application/Home.js"></script>

    <script>
        $(document).ready(function () {

            var highestBox = 0;
            $('.column').each(function () {
                if ($(this).height() > highestBox) {
                    highestBox = $(this).height();
                }
            });
            $('.column').height(highestBox);

        });
    </script>
</head>
<body>

    <div class="ribbonErrorMessage" id="ribbonErrorMessage" style="display:none"></div>
    <div class="container-fluid content-wrapper clearfix">

        <div class="navbar navbar-inverse set-radius-zero">
            <div class="navbar-header col-md-6">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="~/Content/Images/app_name.png" />
                </a>
            </div>

            <div class="col-md-6">
                <ul class="user-settings-wrapper">
                   <li>Welcome </li>
                   <li id="user-name">Naveendiran</li>
                   <li id="user-photo"><img src="~/Content/Images/user-photo-male.png" /></li>
                </ul>
            </div>


        </div>   



        <section class="menu-section">           
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#" class="menu-top-active">Students</a></li>
                        <li><a href="#">Campus</a></li>
                        <li><a href="#">Reports</a></li>

                    </ul>
                </div>
            </div>          
        </section>

        <div class="body-wrapper">
            @RenderBody()
        </div>

    </div>

    <footer>
        <p>&copy; Hashiny International School @DateTime.Now.Year</p>
    </footer>

    <!-- Onvia progress bar -->
    <div id="ajaxProgressLoader" style="display: none;">
        <div class="loadingProgress">
            <img src="@(Url.Content("~/Content/Images/loading_2.gif"))" alt=" alt=" processing.." class="loadingImage" />
            <span id="additionalLoadingMessage"></span><span id="loadingMessage">Loading...</span>
        </div>
    </div>
    <!-- Onvia dialog -->
    <div id="OnviaAdminDialog">
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
